<footer class="site-footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-copy">{{ 'FOOTER.COPYRIGHT' | translate }}</div>
      <div class="footer-socials">
        <a href="https://www.linkedin.com/in/alain-ghawi" target="_blank">LinkedIn</a>
        <a href="https://github.com/AlainGhawi" target="_blank">GitHub</a>
        <a href="https://www.youtube.com/channel/UCLYvppaPMnewPjrrETcukyg" target="_blank">YouTube</a>
      </div>
    </div>
  </div>
</footer>
