<section id="clients">
  <div class="container">
    <div class="clients-label">{{ 'CLIENTS.TRUSTED_BY' | translate }}</div>
    <div class="clients-logos">
      <a href="https://www.genetec.com/" class="client-item" target="_blank" rel="noopener">Genetec</a>
      <a href="https://www.stcbank.com.sa/" class="client-item" target="_blank" rel="noopener">STC Pay</a>
      <a href="https://emcrey.com/" class="client-item" target="_blank" rel="noopener">Emcrey</a>
      <a href="https://www.gotocme.com/" class="client-item" target="_blank" rel="noopener">CME</a>
    </div>
  </div>
</section>
