/*-----------------------------------*\
  #service.css
\*-----------------------------------*/


/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@import url('../components/card.css');
@import url('../components/btn.css');


/*-----------------------------------*\
  #SERVICES
\*-----------------------------------*/

.service {
  padding-block-start: var(--section-padding);
  background-color: var(--maximum-yellow-red_a10);
}

.service-list {
  display: grid;
  gap: 25px;
}

.service .card-md {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 5px 15px;
  align-items: center;
}

.service .card-md > div:not(.card-media) {
  display: contents;
}

.service .card-md .body-sm {
  grid-column: 1 / -1;
}

.service .card-md .card-media {
  width: 50px;
  height: 50px;
}

.card-title { margin-block-end: 10px; }

.card ion-icon { font-size: 3.2rem; }

.card .body-sm { color: var(--jet); }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  .service .card-md {
    grid-template-columns: 70px 1fr;
  }

  .service .card-md .card-media {
    width: 70px;
    height: 70px;
  }

  .service-list { grid-template-columns: 1fr 1fr; }

}

@media (min-width: 992px) {

  .service-list { grid-template-columns: repeat(3, 1fr); }

}
